# PORT number for the server to listen on
PORT=8080

# Environment mode (development, production, etc.)
NODE_ENV=development

# Client URL
CLIENT_URL=http://localhost:5173

# Database connection URL
DATABASE_URL="postgresql://<DATABASE_USER>:<DATABASE_PASSWORD>@<DATABASE_HOST>:<DATABASE_PORT>/<DATABASE_NAME>?sslmode=disable"

JWT_SECRET=YourJWTSecretKeyHere

# Cloudinary 
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

# ML Service port, for example, if your ML service is running on port 8000, you can set it as follows:
ML_SERVICE_URL=http://localhost:8000